/*______CAPTCHA__________________________________________*/

#captchaContainer{
	width: 340px;
	margin: auto;
  color: black;
}

#chessboardBG{
	height: 340px;
	width: 340px;
	padding: 42px;
	justify-content: center;
	background-color: #777471;
	background-image: url('../../img/captcha/chessboardBG.svg');
	border-radius: 3px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
	margin-top: 20px;
}

#chessboard, #pawn {
	display: none;
}

#captchaZone{
  background-color: #eeeeee;
  padding-top: 20px;
  padding-bottom: 20px;
	width: 380px;
	margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
	border-radius: 3px;
}
