/*______FORM__________________________________________*/

form{
	width: 80%;
	max-width: 1100px;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 50px;
	justify-content: center;
	background-color: rgba(0,0,0,0.3);
	color: #ecf0f1;
	border-radius: 3px;
}

#msg{
	font-size: 14px;
	color: #ff7979;
}

form input{
	width:  90%;
	font-size: 20px;
	font-family: Helvetica;
	padding: 16px;
	margin: 5px;
	border: none;
	background-color: rgba(0,0,0,0.7);
	border-radius: 3px;
	color : #ecf0f1;

}

form .formBottom{
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formButton{
	border: none;
	background-color: #3c6382;
	font-size: 16px;
	color: #ecf0f1;
	border-radius: 20px;
}

.formButton:hover{
	background-color: #eeeeee;
	color: #cba70f;
	box-shadow: 0px 0px 7px rgba(0,0,0,0.5);
}

form a:hover{
	color: #cba70f;
}

form > div {
	display: flex;
	flex-direction: column;
	align-items: center;
}



/*Inscription*/
#formSignUp{
	display: flex;
	flex-direction: column;
}

#formSignUp > h1{
	margin: 50px auto 0 auto;
}

#formSignUp > div{
	display: flex;
	flex-direction: row;
}

#formSignUp > div > div{
	width: 49%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#inputsSignUp{
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;;
}

#inputsSignUp small{
	align-self: flex-start;
	margin: 0 0 10px 30px;
}

#inputsSignUp label{
	align-self: flex-start;
	margin: 20px 0 0 30px;
}

@media screen and (max-width:1070px){
	#formSignUp > div{
		flex-direction: column;
	}

	#formSignUp > div > div{
		width: 90%;
	}
	
}