/*______FORM__________________________________________*/

form{
	width: 80%;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 50px;
	justify-content: center;
	background-color: rgba(0,0,0,0.3);
	color: #ecf0f1;
	border-radius: 3px;
}

#msg{
	font-size: 14px;
	color: #ff7979;
}

form input{
	width:  90%;
	font-size: 20px;
	font-family: Helvetica;
	padding: 16px;
	margin: 5px;
	border: none;
	background-color: rgba(0,0,0,0.7);
	border-radius: 3px;
	color : #ecf0f1;

}

form .formBottom{
	margin-top: 20px;
}

.formButton{
	border: none;
	background-color: #3c6382;
	font-size: 16px;
	color: #ecf0f1;
	border-radius: 20px;
}

.formButton:hover{
	background-color: #eeeeee;
	color: #cba70f;
	box-shadow: 0px 0px 7px rgba(0,0,0,0.5);
}

form a:hover{
	color: #cba70f;
}

form > div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#inputsSignUp{
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;;
}

/*Inscription*/
#formSignUp{
	display: flex;
}

#formSignUp > div{
	width: 49%;
}

/*______FORM Rules__________________________________________*/

.rules{
	font-size: 0.6em;
	color: grey;
}