*{
	box-sizing: border-box;
}

body{
	margin: 0px;
	font-family: Helvetica;
	background-color: #303841;
	color : #eeeeee;
}

*{
	box-sizing: border-box;
}

a{
	text-decoration: none;
	color : #ecf0f1;
}



/*________________________________________________*/



.big{
	font-size: 44px;
	text-align: center;
}



.enigmaContainer{
	background-color: #eeeeee;
	color: #3A4750;
	height: 220px;
	margin-bottom: 20px;
	padding: 15px;
}

.enigmaContainer h1{
	color: #cba70f;
}

/*FLEX____________________________________________*/
.flex{
	display: flex;
}

.flexColumn{
	display: flex;
	flex-direction: column;
}



.createEnigma{
	width: 90%;
	margin: auto;
	margin-top: 100px;
}

.createEnigma div{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 49%;
}

.createEnigma input{
	width: 90%;
	padding: 10px;
	font-size: 14px;
	margin-bottom: 10px;
	border-radius: 4px;
	border: none;
}

.createEnigma img{
	height: 100px;
	width: 100px;
	background-color: rgba(0,0,0,0.3);
	box-shadow: 0px 0px 15px rgba(0,0,0,0.6);
}

.createEnigma .time input{
	width: 50px;
}





.
