*{
	box-sizing: border-box;
}

body{
	margin: 0px;
	font-family: Helvetica;
	background-color: #303841;
	color : #eeeeee;
}

*{
	box-sizing: border-box;
}

a{
	text-decoration: none;
	color : #ecf0f1;
}



/*________________________________________________*/



.big{
	font-size: 44px;
	text-align: center;
}



.enigmaContainer{
	background-color: #eeeeee;
	color: #3A4750;
	height: 220px;
	margin-bottom: 20px;
	padding: 15px;
}

.enigmaContainer h1{
	color: #cba70f;
}
